.button {
    background-color: #6278F7;
    border-radius: 10px;
    padding: 28px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 28px 0;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button:hover {
    color: #95FFD4;
}